/*公共样式*/
.content_box{
    margin-top: 15px;
}

/*提示消息*/
.message_box{
    margin-top: 10px;
    margin-bottom: 10px;
}

/*头部样式*/
.header_box{
    width:100%;
    height:60px;
    background-color: #3c3e42;
}
.header_box #logo{
    color:#fff;
    font-weight: bold;
}
.header_box #nav_font_color li a{
    color: #999;
}

/*主页样式*/
.content_box .jumbotron{
    text-align: center;
    margin-bottom: .5rem;
}

.index_status__box{
    border-top: 1px solid #ccc;
    margin-bottom: 15px;
    padding-top: 15px;
}

.index_status_times{
    font-weight: normal;
    font-size: 16px;
}

/*用户中心*/
.users_centerbox{
    text-align: center;
    margin-left: 20px;
}
.users_centerbox h2{
    margin-top: 6px;
}
.gravatar{
    border-radius: 50%;
}

#users_info_box{
    margin: .8rem 0 0;
}

.userinfo_avatar{
    text-align: center;
    margin-bottom: 15px;
}

.userinfo_avatar img{
    border-radius: 50%;
}

.usercenter_box{
    margin-bottom: 15px;
}
.usercenter_box .usercenter_avatar img{
    border-radius: 50%;
}
.usercenter_box .usercenter_username{
    height:80px;
    line-height: 80px;
}
.usercenter_box .usercenter_delete{
    height:80px;
    line-height: 80px;
}

.userinfo_status_box{
    border-top: 1px solid #ccc;
    margin-bottom: 15px;
    padding-top: 15px;
}

.userinfo_status_username{
    font-size: 20px;
}
.userinfo_status_created{
    font-size: 12px;
    margin-bottom: 4px;
    color: #999;
}

.userinfo_status_page{
    margin-top: 40px;
}
.index_status_page{
    margin-top: 40px;
}

#logout button{
    margin-left: 10px;
}

/*关于*/
.about_box h1{
    text-align: center;
}

/*帮助*/
.help_box h1{
    text-align: center;
}

/*登录*/
#remember_box input{
    vertical-align: middle;
    margin-right: 5px;
}

/*个人中心*/
.users_centerbox .username{
    margin-bottom: 10px;
}
.user_content_box{
    margin-top: 40px;
}
.send_btn{
     margin-top: 10px;
 }
.info_header_title{
    margin-top: 20px;
    margin-bottom: 20px;
}

.list_avatar{
    border-radius: 50%;
}

/*底部样式*/
.footer_box{
    margin-top: 15px;
    padding-top: 10px;
    border-top:1px solid #ccc;
}
#footer_box_l{
    text-indent: 10px;
}
#footer_box_r a{
    padding-right: 10px;
}